<div class="back">
  <div class="container">

    <br>
    <mat-toolbar  color="">
      <span>Mis Pedidos</span>
      <span class="example-spacer"></span>
      <button mat-button routerLink="/dashboard/nuevopedido"> 
        <mat-icon>add</mat-icon>
      </button>
    </mat-toolbar>
  
    <table mat-table [dataSource]="dataPedido" class="mat-elevation-z8">

      <ng-container matColumnDef="fechaPedido">
      <th mat-header-cell *matHeaderCellDef> Fecha Pedido</th>
        <td mat-cell *matCellDef="let element"> {{element.fechaPedido}} </td>
      </ng-container>

      <ng-container matColumnDef="idPedidoEstado">
      <th mat-header-cell *matHeaderCellDef> Estado</th>
        <td mat-cell *matCellDef="let element"> {{element.idPedidoEstado.descripcion}} </td>
      </ng-container>

      <ng-container matColumnDef="idDetalleVenta">
        <th mat-header-cell *matHeaderCellDef> Det. Venta</th>
          <td mat-cell *matCellDef="let element"> 
            <a class="material-icons-outlined" >
              <button mat-icon-button (click)="VerDetalle(element.id)">
                <mat-icon>menu</mat-icon>
              </button>
            </a>
          </td>
        </ng-container>

      <ng-container matColumnDef="detalle">
        <th mat-header-cell *matHeaderCellDef>Guía</th>
          <td mat-cell *matCellDef="let element"> 
            <a class="material-icons-outlined" >
              <!--href="https://www.google.com/" target="_blank" -->
              <button mat-icon-button routerLink="/dashboard/detalle">
                <mat-icon>visibility</mat-icon>
              </button>
            </a>
          </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                  [pageSize] = 5
                 showFirstLastButtons 
        >
    </mat-paginator>
    
  </div>
</div>

