<div class="back">
    <div class="container">
        
        <br>
        <mat-toolbar>
            <span>Detalle de Compra</span>
            <span class="example-spacer"></span>
        </mat-toolbar>
        
        <mat-list>    
            <div mat-subheader style="width: 40%;">
                Nro. Pedido
                <mat-list-item *matCellDef="let item">{{item.idDetalleVenta}}</mat-list-item>
            </div>      
        </mat-list>

        <table mat-table [dataSource]="dataDetalle" class="mat-elevation-z8">

            <ng-container matColumnDef="idProducto">
              <th mat-header-cell *matHeaderCellDef style="height: 40px;width: 70%;" > Producto </th>
              <td mat-cell *ngFor="let element of dataDetalle"> {{element[idDetalle].producto}} </td>
            </ng-container>

            <ng-container matColumnDef="cantidad">
              <th mat-header-cell *matHeaderCellDef> Cantidad </th>
              <td mat-cell *ngFor="let element of dataDetalle"> {{element[idDetalle].cantidad}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize] = 10 showFirstLastButtons > </mat-paginator>

    </div>
</div>