<mat-toolbar>
  <img src="./assets/img/shuk.png" alt="" width="10%">
  <span class="example-spacer"></span>
      <button mat-stroked-button color="warn" routerLink="/dashboard">Mis Pedidos</button>
      <button mat-stroked-button color="warn" routerLink="/dashboard/nuevopedido">Nuevo Pedido</button>
  <span class="example-spacer"></span>
  
  <button routerLink="/logout" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" color="warn">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>